<div class="background-badge"></div>

<section class="flex-column">
	<div class="my-badge flex-column">
		{{user.display_name}}'s Badges
	</div>
	<div>
		<div class="badge-box flex-row-badge">
			<div ng-if="html_g" class="badge-img1"></div>
			<div ng-if="html_c" class="badge-img1-c"></div>
			
			<div ng-if="bjs_g" class="badge-img2"></div>
			<div ng-if="bjs_c" class="badge-img2-c"></div>
			
			<div ng-if="ijs_g" class="badge-img3"></div>
			<div ng-if="ijs_c" class="badge-img3-c"></div>
			
			<div ng-if="angular_g" class="badge-img4"></div>
			<div ng-if="angular_c" class="badge-img4-c"></div>
			
			<div ng-if="node_g" class="badge-img5"></div>
			<div ng-if="node_c" class="badge-img5-c"></div>
			
			<div ng-if="sql_g" class="badge-img6"></div>
			<div ng-if="sql_c" class="badge-img6-c"></div>
			
			<div ng-if="pp_g" class="badge-img7"></div>
			<div ng-if="pp_c" class="badge-img7-c"></div>
			
			<div ng-if="gp_g" class="badge-img8"></div>
			<div ng-if="gp_c" class="badge-img8-c"></div>
		</div>
	</div>
	
	<div>
		<div class="badge-button-box1 flex-row-badge">
			<div>Passed:  </div>
			<button ng-click="pass('html')" class="button-success pure-button">HTML/CSS</button>
			<button ng-click="pass('jsb')" class="button-success pure-button">Basic JS</button>
			<button ng-click="pass('isb')" class="button-success pure-button">Intermediate JS</button>
			<button ng-click="pass('ang')" class="button-success pure-button">Angular</button>
			<button ng-click="pass('node')" class="button-success pure-button">Node</button>
			<button ng-click="pass('sql')" class="button-success pure-button">SQL</button>
			<button ng-click="pass('pp')" class="button-success pure-button">Personal Project</button>
			<button ng-click="pass('gp')" class="button-success pure-button">Group Project</button>
		</div>
		<div class="badge-button-box2 flex-row-badge">
			<div>Not Passed:</div>
			<button ng-click="fail('html')" class="button-error pure-button">HTML/CSS</button>
			<button ng-click="fail('jsb')" class="button-error pure-button">Basic JS</button>
			<button ng-click="fail('isb')" class="button-error pure-button">Intermediate JS</button>
			<button ng-click="fail('ang')" class="button-error pure-button">Angular</button>
			<button ng-click="fail('node')" class="button-error pure-button">Node</button>
			<button ng-click="fail('sql')" class="button-error pure-button">SQL</button>
			<button ng-click="fail('pp')" class="button-error pure-button">Personal Project</button>
			<button ng-click="fail('gp')" class="button-error pure-button">Group Project</button>
		</div>
	</div>
	
	<div class="badges-info-box flex-column">
		<div>
				<div class="info-title">Badge Info</div><hr>
			<div class="badge-count">Badges Completed: {{finalCount}}</div>
		</div>
		<div class="badge1">
			<img class="little-badge-box" alt="" src="../../images/HTML:CSS/css3-50px.png">
			<div class="badge-text"> The HTML/CSS badge is earned through completion of the HTML/CSS assessment. This assessment will test your knowledge of website positioning and media queries. It will typically be completed after the first or second week of class.</div>
			<div class="badge-text-title">HTML/CSS</div>
		</div>
		<div class="badge2">
			<img class="little-badge-box-alt" alt = "" src = "../../images/JavaScript/Javascript-Logo-50px.png">
			<div class="badge-text"> The basic javascript badge is earned through successful completion of the basic javascript assessment. You will be tested on basic javascript principles such as objects, arrays,  It is typically completed after the first week of class.</div>
			<div class="badge-text-title">Basic <br> Javascript</div>
		</div>
		<div class="badge3">
			<img class="little-badge-box-alt" alt = "" src = "../../images/JavaScript/javascript-50px.png">
			<div class="badge-text"> The intermediate javascript badge is earned through successful completion of the intermediate javascript assessment. You will be tested on intermediate to advanced javascript topics such as closures and prototypes. It is typically completed after the second week of class.</div>
			<div class="badge-text-title">Intermediate <br> Javascript</div>
		</div>
		<div class="badge4">
			<img class="little-badge-box" alt = "" src = "../../images/Angular/angularjs-50px.png">
			<div class="badge-text"> The angular badge is earned through successful completion of the basic angular assessment. It requires knowledge of concepts such as controllers, services, directives, routes, http calls, etc. It is typically completed after the fourth week of class.</div>
			<div class="badge-text-title">Angular</div>
		</div>
		<div class="badge5">
			<img class="little-badge-box" alt = "" src = "../../images/Node/nodejs-logo-50px.png">
			<div class="badge-text"> The node JS badge is earned through successful completion of the node assessment. This assessment will require knowledge of npm dependencies such as express and body parser. It will test your knowledge of writing restful node endpoints. It is typically completed after the end of the fifth week of class.</div>
			<div class="badge-text-title">Node JS</div>
		</div>
		<div class="badge6">
			<img class="little-badge-box" alt = "" src = "../../images/SQL/sql-database-50px.png">
			<div class="badge-text">The SQL badge is earned through successful completion of the basic javascript assessment. It is typically completed after the sixth week of class.</div>
			<div class="badge-text-title">SQL</div>
		</div>
		<div class="badge7">
			<img class="little-badge-box-alt" alt = "" src = "../../images/project1/stars-icon-50px.png">
			<div class="badge-text"> The personal project badge is earned through successful completion of a full stack personal project. You will be given a grading rubric containing the badging requirements prior to beginning this project. This project will test your knowledge of all the prior course topics and possibly your ability to learn new technologies. It will typically be completed on weeks seven through nine.</div>
			<div class="badge-text-title">Personal <br> Project</div>
		</div>
		<div class="badge8">
			<img class="little-badge-box-alt" alt = "" src = "../../images/group-project/crown-50px.png">
			<div class="badge-text"> The group project badge is earned through successful completion of a full stack group project. You will be given a grading rubric containing the badging requirements prior to beginning this project. This project is generally completed on weeks eleven and twelve of the course.</div>
			<div class="badge-text-title">Group <br> Project</div>
		</div>
	</div>
</section>

