/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.weather-img {
		height: 80px;
		width: 80px;
		}
	
	.weather-title {
		font-size: 12px;
		}
	
	.profile-img {
		width: 30%;
		height: 50%;
		}
	
	.img2 {
		left: 32%;
		}
	
	.img3 {
		right: 34%;
		}
	
	.img6 {
		left: 32%;
		}
	
	.img7 {
		right: 34%;
		}
	
	.home-badge-text {
		font-size: 12px;
		}
	
	.hm-chat-info {
		width: 33vw;
		}
	
	.hm-message-box {
		width: 50vw;
		}
	
	.hm-sm-chat {
		width: 83vw;
		height: 9vh;
		}
	
	ul li a {
		font-size: 9.49px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.welcome {
		top: 28%;
		font-size: 19px;
		}
	
	.email {
		top: 47%;
		font-size: 12px;
		}
	
	.badges {
		top: 61%;
		font-size: 12px;
		}
	
	.joined {
		top: 54%;
		font-size: 12px;
		}
	
	.cal-box {
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		height: 57vh;
		}
	
	.forecast-box {
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		}
	
	.badges-box {
		width: 95%;
		height: 45vh;
		}
	
	.profile-box{
		width: 95%;
		}
	
	.disc-box{
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		}
	
	.assess-box {
		width: 95%;
		}
	}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.weather-img {
		height: 80px;
		width: 80px;
		}
	
	.weather-title {
		font-size: 12px;
		}
	
	.profile-img {
		width: 30%;
		height: 50%;
		}
	
	.img2 {
		left: 32%;
		}
	
	.img3 {
		right: 34%;
		}
	
	.img6 {
		left: 32%;
		}
	
	.img7 {
		right: 34%;
		}
	
	.home-badge-text {
		font-size: 12px;
		}
	
	.hm-chat-info {
		width: 13vw;
		}
	
	.hm-message-box {
		width: 50vw;
		}
	
	.hm-sm-chat {
		width: 83vw;
		height: 9vh;
		}
	
	ul li a {
		font-size: 7.49px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.welcome {
		top: 28%;
		font-size: 19px;
		}
	
	.email {
		top: 47%;
		font-size: 12px;
		}
	
	.badges {
		top: 61%;
		font-size: 12px;
		}
	
	.joined {
		top: 54%;
		font-size: 12px;
		}
	
	.cal-box {
		margin: 0 1vw 0 3vw;
		width: 95%;
		height: 50vh;
		}
	
	.forecast-box {
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		height: 40vh;
		}
	
	.badges-box {
		width: 95%;
		}
	
	.profile-box{
		width: 95%;
		}
	
	.disc-box{
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		}
	
	.assess-box {
		width: 95%;
		}
	}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}
	
	.profile-img {
		width: 30%;
		height: 60%;
		}
	
	.img2 {
		left: 32%;
		}
	
	.img3 {
		right: 34%;
		}
	
	.img6 {
		left: 32%;
		}
	
	.img7 {
		right: 34%;
		}
	
	.home-badge-text {
		font-size: 14px;
		}
	
	.hm-chat-info {
		width: 13vw;
		}
	
	.hm-message-box {
		width: 50vw;
		}
	
	.hm-sm-chat {
		width: 83vw;
		height: 9vh;
		}
	
	ul li a {
		font-size: 7.49px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.welcome {
		top: 28%;
		font-size: 19px;
		}
	
	.email {
		top: 47%;
		font-size: 12px;
		}
	
	.badges {
		top: 61%;
		font-size: 12px;
		}
	
	.joined {
		top: 54%;
		font-size: 12px;
		}
	
	.cal-box {
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		height: 62vh;
		}
	
	.forecast-box {
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		}
	
	.badges-box {
		width: 95%;
		height: 30vh;
		}
	
	.profile-box{
		width: 95%;
		}
	
	.disc-box{
		margin: 0 1vw 2vh 1vw;
		width: 95%;
		}
	
	.assess-box {
		width: 95%;
		}
	}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}
	
	.profile-img {
		width: 30%;
		height: 60%;
		}
	
	.img2 {
		left: 34%;
		}
	
	.img3 {
		right: 35%;
		}
	
	.img6 {
		left: 34%;
		}
	
	.img7 {
		right: 35%;
		}
	
	.home-badge-text {
		font-size: 14px;
		}
	
	.hm-chat-info {
		width: 13vw;
		}
	
	.hm-message-box {
		width: 19vw;
		}
	
	.hm-sm-chat {
		width: 48.5vw;
		height: 5.8vh;
		}
	
	ul li a {
		font-size: 14px;
		}
	
	.home-title-text {
		font-size: 26px;
		padding-top: 14px;
		}
	
	.welcome {
		top: 28%;
		font-size: 24px;
		}
	
	.email {
		top: 47%;
		font-size: 16px;
		}
	
	.badges {
		top: 61%;
		font-size: 16px;
		}
	
	.joined {
		top: 54%;
		font-size: 16px;
		}
	
	.cal-box {
		margin: 0 1vw 0 1vw;
		width: 35%;
		height: 50vh;
		}
	
	.forecast-box {
		margin: -17.5vh 1vw 2vh 1vw;
		width: 35%;
		}
	
	.badges-box {
		width: 35%;
		height: 30vh;
		}
	
	.profile-box{
		width: 35%;
		}
	
	.disc-box{
		margin: 0 1vw 2vh 1vw;
		width: 35%;
		}
	
	.assess-box {
		width: 35%;
		}
	}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}
	
	.profile-img {
		width: 30%;
		height: 60%;
		}
	
	.img2 {
		left: 34%;
		}
	
	.img3 {
		right: 35%;
		}
	
	.img6 {
		left: 34%;
		}
	
	.img7 {
		right: 35%;
		}
	
	.home-badge-text {
		font-size: 14px;
		}
	
	.hm-chat-info {
		width: 13vw;
		}
	
	.hm-message-box {
		width: 19vw;
		}
	
	.hm-sm-chat {
		width: 33vw;
		height: 5.8vh;
		}
	
	ul li a {
		font-size: 14px;
		}
	
	.home-title-text {
		font-size: 26px;
		padding-top: 14px;
		}
	
	.welcome {
		top: 28%;
		font-size: 24px;
		}
	
	.email {
		top: 47%;
		font-size: 16px;
		}
	
	.badges {
		top: 61%;
		font-size: 16px;
		}
	
	.joined {
		top: 54%;
		font-size: 16px;
		}
	
	.cal-box {
		margin: 0 1vw 0 1vw;
		width: 35%;
		height: auto;
		padding-bottom: 15px;
		}
	
	.forecast-box {
		margin: -28.5vh 1vw 2vh 1vw;
		width: 35%;
		}
	
	.badges-box {
		width: 35%;
		height: 30vh;
		}
	
	.profile-box{
		width: 35%;
		}
	
	.disc-box{
		margin: 2vh 1vw 0 1vw;
		width: 35%;
		}
	
	.assess-box {
		width: 35%;
		}
	}


/*CSS*/
.text {
	font-size: 12px;
	}

.background {
	position: fixed;
	background: url('https://upload.wikimedia.org/wikipedia/commons/8/8c/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg') center no-repeat;
	background-size: cover;
	top: 6vh;
	left:0;
	width: 100%;
	height: 100%;
	opacity: .8;
	}

.cal-header {
	width: 100%;
	height: 6vh;
	background: url('https://thumbs.dreamstime.com/t/vector-illustration-city-flat-hight-mountain-52865143.jpg') center;
	background-size: contain;
	border-radius: 5px;
	}

.cal-box {
	border: 1px black solid;
	position: relative;
	border-radius: 5px;
	background-color: white;
	}

.cal-text {
	background-color: rgba(255, 255, 255, 0.80);
	width: 100%;
	height: 6vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
	border-radius: 5px;
	}

.forecast-box {
	border: 1px black solid;
	position: relative;
	height: 250px;
	border-radius: 5px;
	background-color: white;
	}

.home-title-text {
	text-align: center;
	font-weight: 800;
	}

.home-badge-text{
	text-align: center;
	font-weight: 800;
	margin-top: 52px;
	}

.flex-column-one {
	position: relative;
	top: 10vh;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	}

.flex-column-two {
	position: relative;
	top: 10vh;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	}

/*Badge box*/
.badges-box {
	margin: 0 1vw 2vh 1vw;
	border: 1px black solid;
	position: relative;

	border-radius: 5px;
	background-color: white;
	}

.profile-box{
	margin: 0 1vw 2vh 1vw;
	border: 1px black solid;
	position: relative;
	height: 30vh;
	border-radius: 5px;
	background-color: white;
	}

.disc-box{
	border: 1px black solid;
	position: relative;
	height: 450px;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 3vh;
	}

.assess-box {
	margin: 0 1vw 2vh 1vw;
	border: 1px black solid;
	position: relative;
	height: 25vh;
	border-radius: 5px;
	background-color: white;
	}

/*Profile Box*/
.profile-img {
	position: absolute;
	top: 26%;
	left: 5%;
	/*background: url('../../images/profile Img.png') center no-repeat;*/
	background-size: contain;
	border-radius: 20px;
	border: 1px solid black;
	}

.welcome,.email,.joined,.badges {
	position: absolute;
	left: 40%;
	}

.welcome {
	top: 28%;
	font-weight: bolder;
	}

.email {
	top: 47%;
	font-weight: bolder;
	}

.badges {
	top: 61%;
	font-weight: bolder;
	}

.joined {
	top: 54%;
	font-weight: bolder;
	}

.profile-text {
	font-weight: normal;
	}

/*Badge Box*/
.img1 {
	top: 27%;
	left: 13%;
	}

.img2 {
	top: 27%;
	}

.img3 {
	top: 27%;
	}

.img4 {
	top: 27%;
	right: 13%;
	}

.img5 {
	top:63%;
	left: 13%;
	}

.img6 {
	top:63%;
	}

.img7 {
	top:63%;
	}

.img8 {
	top:63%;
	right: 13%;
	}


#cf {
	position:absolute;
	height:50px;
	width:50px;
	margin:0 auto;
	background-size: contain;
	}

#cf img {
	position:absolute;
	left:0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	}

@keyframes cf3FadeInOut {
	0% {
		opacity:1;
		}
	45% {
		opacity:1;
		}
	55% {
		opacity:0;
		}
	100% {
		opacity:0;
		}
	}

#cf img.top {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
	}

/*Calender*/
#calendar1 {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	font-size: 14px;
	margin-top: 15px;
	}

/*Weather*/
.weather-title {
	font-weight: bold;
	}

.weather-box {
	margin: 40px 0 10px 20px;
	line-height: 25px;
	font-size: 14px;
	}

.img-pos {
	position: absolute;
	top: 10vh;
	right: 5vh;
	font-size: 14px;
	}

.clearfix:after {
	display:block;
	clear:both;
	}

/*----- Menu Outline -----*/
.menu-wrap {
	width:100%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background:#DADADA;
	}

.menu {
	position: absolute;
	top: 2%;
	left: 0;
	width:400px;
	height: 160px;
	margin:18px auto;
	}

.menu li {
	margin:0px;
	list-style:none;
	}

.menu a {
	transition:all linear 0.15s;
	color:#919191;
	text-decoration: none;
	}

.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:white;
	}

.menu .arrow {
	font-size: 14px;
	line-height:0%;

	}

/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:14px;
	}

.menu > ul > li > a {
	color: black;
	padding:5px 5px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:#2e2728;
	}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
	}

.sub-menu {
	width:160%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;
	}

.sub-menu li {
	display:block;
	font-size: 14px;
	}

.sub-menu li a {
	padding:5px 30px;
	display:block;
	}

.sub-menu li a:hover, .sub-menu .current-item a {
	background:#3e3436;
	}

.hm-search {
	position: fixed;
	width: 50vw;
	height: 4vh;
	top: 94vh;
	padding: 5px;
	font-size: 12px;
	}

.hm-main-container {
	position: relative;
	margin-top: 2vh;
	width: 50vw;
	height: 87vh;
	
	background-color: #292C2F;
	padding: 5px;
	border-radius: 5px;
	border: solid black 1px;
	}

.hm-main-container h1 {
	text-align: center;
	}

.hm-text-box {
	margin: 0px auto;
	width: 45vw;
	}

.hm-chat-text {
	margin: 3px 0;
	font-size: 15px;
	color: black;
	}

.hm-lg-chat {
	position: absolute;
	top: 6vh;
	width: 33.3vw;
	height: 36vh;
	background: rgba(255, 255, 255, 0.86);
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	}

.hm-sm-chat {
	background-color: #F1F1F1;
	padding: 5px;
	}

.hm-chat-col {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	}

.hm-chat-info {
	position: relative;
	float: left;
	height: 100%;
	}


.hm-message-box {
	position: relative;
	display: inline-block;
	float: right;
	height: 100%;
	}

.hm-sm-profile-img {
	width: 25px;
	height: 25px;
	background-size: contain;
	border-radius: 50%;
	border: 1px solid black;
	}

.hm-message-pos {
	display: flex;
	flex-flow: wrap;
	padding-left: 12vw;
	}

.hm-name-pos {
	display: flex;
	justify-content: flex-start;
	}

.hm-name {
	position: relative;
	font-size: 12px;
	}

.hm-date-pos {
	display: flex;
	justify-content: flex-start;
	}

.hm-date-pos {
	position: relative;
	font-size: 12px;
	}