/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.home-container {
		width: 96%;
		margin: 0 2%;
		padding-top: 85px;
		}

	.weather-img {
		height: 80px;
		width: 80px;
		}
	
	.weather-title {
		font-size: 12px;
		}
	
	.badge-text {
		font-size: 12px;
		}

	ul li a {
		font-size: 9.49px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.img1 {
		width: 50px;
		height: 50px;
		}
	
	.img2 {
		width: 50px;
		height: 50px;
		}
	
	.img3 {
		width: 50px;
		height: 50px;
		}
	
	.img4 {
		width: 50px;
		height: 50px;
		}
	
	.img5 {
		width: 50px;
		height: 50px;
		}
	
	.img6 {
		width: 50px;
		height: 50px;
		}
	
	.img7 {
		width: 50px;
		height: 50px;
		}
	
	.img8 {
		width: 50px;
		height: 50px;
		}
  
  .profile-box {
	  height: 220px;
	  }
	
	.profile-img {
		width: 100px;
		height: 100px;
		}
  
  .profile-header {
		font-size: 18px;
		font-weight: bold;
	  }

	}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.home-container {
		width: 96%;
		margin: 0 2%;
		padding-top: 85px;
		}
	
	.weather-img {
		height: 80px;
		width: 80px;
		}
	
	.weather-title {
		font-size: 12px;
		}

	.badge-text {
		font-size: 12px;
		}

	ul li a {
		font-size: 7.49px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.img1 {
		width: 50px;
		height: 50px;
		}
	
	.img2 {
		width: 50px;
		height: 50px;
		}
	
	.img3 {
		width: 50px;
		height: 50px;
		}
	
	.img4 {
		width: 50px;
		height: 50px;
		}
	
	.img5 {
		width: 50px;
		height: 50px;
		}
	
	.img6 {
		width: 50px;
		height: 50px;
		}
	
	.img7 {
		width: 50px;
		height: 50px;
		}
	
	.img8 {
		width: 50px;
		height: 50px;
		}
	
	.profile-box {
		height: 220px;
		}
	
	.profile-img {
		width: 100px;
		height: 100px;
		}
	
	.profile-header {
		font-size: 18px;
		font-weight: bold;
		}
  
	}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	.home-container {
		padding-top: 85px;
		margin: 0 auto;
		width: 98%;
		}
	
	.col-left {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.col-right {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}
	
	.badge-text {
		font-size: 13px;
		}

	ul li a {
		font-size: 18px;
		}
	
	.home-title-text {
		font-size: 20px;
		padding-top: 8px;
		}
	
	.img1 {
		width: 60px;
		height: 60px;
		}
	
	.img2 {
		width: 60px;
		height: 60px;
		}
	
	.img3 {
		width: 60px;
		height: 60px;
		}
	
	.img4 {
		width: 60px;
		height: 60px;
		}
	
	.img5 {
		width: 60px;
		height: 60px;
		}
	
	.img6 {
		width: 60px;
		height: 60px;
		}
	
	.img7 {
		width: 60px;
		height: 60px;
		}
	
	.img8 {
		width: 60px;
		height: 60px;
		}
	
	.profile-box {
		height: 240px;
		}
	
	.profile-img {
		width: 100px;
		height: 100px;
		}
	
	.profile-header {
		font-size: 20px;
		font-weight: bold;
		}

	}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	.home-container {
		margin: 0 auto;
		width: 75%;
		padding-top: 85px;
		}
	
	.col-left {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.col-right {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}
	
	.badge-text {
		font-size: 14px;
		}

	ul li a {
		font-size: 7px;
		}
	
	.home-title-text {
		font-size: 26px;
		padding-top: 14px;
		}
	
	.img1 {
		width: 60px;
		height: 60px;
		}
	
	.img2 {
		width: 60px;
		height: 60px;
		}
	
	.img3 {
		width: 60px;
		height: 60px;
		}
	
	.img4 {
		width: 60px;
		height: 60px;
		}
	
	.img5 {
		width: 60px;
		height: 60px;
		}
	
	.img6 {
		width: 60px;
		height: 60px;
		}
	
	.img7 {
		width: 60px;
		height: 60px;
		}
	
	.img8 {
		width: 60px;
		height: 60px;
		}
	
	.profile-box {
		height: 240px;
		}
	
	.profile-img {
		width: 110px;
		height: 110px;
		}
	
	.profile-header {
		font-size: 20px;
		font-weight: bold;
		}

	}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	.home-container {
		padding-top: 85px;
		margin: 0 auto;
		width: 70%;
		}
	
	.col-left {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.col-right {
		float: left;
		width: 48%;
		margin: 1%;
		}
	
	.weather-img {
		height: 100px;
		width: 100px;
		}
	
	.weather-title {
		font-size: 16px;
		}

	ul li a {
		font-size: 14px;
		}
	
	.home-title-text {
		font-size: 26px;
		padding-top: 14px;
		}
	
	.img1 {
		width: 60px;
		height: 60px;
		}
	
	.img2 {
		width: 60px;
		height: 60px;
		}
	
	.img3 {
		width: 60px;
		height: 60px;
		}
	
	.img4 {
		width: 60px;
		height: 60px;
		}
	
	.img5 {
		width: 60px;
		height: 60px;
		}
	
	.img6 {
		width: 60px;
		height: 60px;
		}
	
	.img7 {
		width: 60px;
		height: 60px;
		}
	
	.img8 {
		width: 60px;
		height: 60px;
		}
	
	.profile-img {
		width: 130px;
		height: 130px;
		}
	
	.badge-text {
		font-size: 14px;
		}
	
	.profile-box {
		height: 240px;
		}
	
	.profile-img {
		width: 130px;
		height: 130px;
		}
	
	.profile-header {
		font-size: 20px;
		font-weight: bold;
		}
  
	}



/*//////////
// General CSS
/////////*/
.text {
	font-size: 12px;
	}

.background {
	position: fixed;
	background: url('../../images/backgrounds/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg') center no-repeat;
	background-size: cover;
	top: 77px;
	left:0;
	width: 100%;
	height: 100vh;
	opacity: .8;
	z-index: -1;
	}

.cal-header {
	width: 100%;
	height: 6vh;
	background: url('https://thumbs.dreamstime.com/t/vector-illustration-city-flat-hight-mountain-52865143.jpg') center;
	background-size: contain;
	border-radius: 5px;
	}
 
/*Calendar Box*/
.cal-box {
	border: 1px black solid;
	width: auto;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 2vh;
	}

.cal-text {
	background-color: rgba(255, 255, 255, 0.80);
	width: 100%;
	height: 6vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
	border-radius: 5px;
	}

/*Forecast Box*/
.forecast-box {
	border: 1px black solid;
	width: auto;
	height: 240px;
	border-radius: 5px;
	margin-bottom: 2vh;
	background-color: white;
	}

.home-title-text {
	text-align: center;
	font-weight: 800;
	}

.home-badge-text{
	position: absolute;
	text-align: center;
	font-weight: 800;
	margin-top: 52px;
	}

.weather-title {
	font-weight: bold;
	}

.weather-info-box {
	float: left;
	width: 60%;
	height: 46%;
	line-height: 2;
	padding: 36px 17px;

	}

.weather-img-box {
	width: 30%;
	height: 45%;
	padding: 37px 0;
	float: left;

	}


/*Badge box*/
.badges-box {
	border: 1px black solid;
	width: auto;
	height: auto;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 2vh;
	}

/*Profile Box*/
.profile-box{
	margin-bottom: 2vh;
	border: 1px black solid;
	width: auto;
	border-radius: 5px;
	background-color: white;
	}

.profile-img {
	background-size: contain;
	border-radius: 20px;
	}

.profile-text {
	font-weight: normal;
	}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 40%;
	height: 180px;
	}

.info-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	float: left;
	width: 60%;
	height: 180px;
	}

.inner-info-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	line-height: 2;
	padding: 0 25px;
	}

.inner-info-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	line-height: 2;
	padding: 0 5px;
	font-size: 14px;
	}

/*Chat Box*/
.disc-box{
	border: 1px black solid;
	width: auto;
	height: auto;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 2vh;
	}

/*Assessment Box*/
.assess-box {
	margin-bottom: 2vh;
	border: 1px black solid;
	width: auto;
	height: 25vh;
	border-radius: 5px;
	background-color: white;
	}


/*Badge Box*/
.badge-text {
	text-align: center;
	}

.mini-badge-box {
	width: 100%;
	display: flex;
	min-height: 95px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	}

.badge-row-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px 15px 15px 15px;
	}

.badge-row-btm {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 15px 15px;
	}

.img1 {
	background: url("../../images/HTML:CSS/html5.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img2 {
	background: url("../../images/JavaScript/Javascript-Logo-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img3 {
	background: url("../../images/JavaScript/javascript-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img4 {
	background: url("../../images/Angular/angularjs-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img5 {
	background: url("../../images/Node/nodejs-logo-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img6 {
	background: url("../../images/SQL/sql-database-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img7 {
	background: url("../../images/project1/stars-icon-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

.img8 {
	background: url("../../images/group-project/crown-50px.png") center no-repeat;
	background-size: contain;
	margin: 5px 10px 5px 10px;
	}

#calendar1 {
	width: 96%;
	margin: 0 auto;
	padding: 10px;
	font-size: 14px;
	}

.clearfix:after {
	display:block;
	clear:both;
	}

/*----- Menu Outline -----*/
.menu-wrap {
	width:100%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background:#DADADA;
	}

.menu {
	position: absolute;
	top: 2%;
	left: 0;
	width:400px;
	height: 160px;
	margin:18px auto;
	}

.menu li {
	margin:0px;
	list-style:none;
	}

.menu a {
	transition:all linear 0.15s;
	color:#919191;
	text-decoration: none;
	}

.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:white;
	}

.menu .arrow {
	font-size: 14px;
	line-height:0%;
	}

/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:14px;
	}

.menu > ul > li > a {
	color: black;
	padding:5px 5px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:#2e2728;
	}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
	}

.sub-menu {
	width:160%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;
	}

.sub-menu li {
	display:block;
	font-size: 14px;
	}

.sub-menu li a {
	padding:5px 30px;
	display:block;
	}

.sub-menu li a:hover, .sub-menu .current-item a {
	background:#3e3436;
	}

.hm-search {
	position: fixed;
	width: 50vw;
	height: 4vh;
	top: 94vh;
	padding: 5px;
	font-size: 12px;
	}

.hm-main-container {
	position: relative;
	margin-top: 2vh;
	width: 50vw;
	height: 87vh;
	background-color: #292C2F;
	padding: 5px;
	border-radius: 5px;
	border: solid black 1px;
	}

.hm-main-container h1 {
	text-align: center;
	}

.hm-text-box {
	margin: 0px auto;
	width: 45vw;
	}

.hm-chat-text {
	margin: 3px 0;
	font-size: 15px;
	color: black;
	}

.hm-lg-chat {
	padding: 18px;
	}

.hm-sm-chat {
	background-color: #F1F1F1;
	padding: 5px;
	width: auto;
	height: 50px;
	}

.hm-chat-col {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	}

.hm-chat-info {
	position: relative;
	float: left;
	height: 100%;
	width: 25%;
	padding: 1% 2%;
	}

.hm-message-box {
	position: relative;
	display: inline-block;
	float: right;
	height: 90%;
	width: 62%;
	padding: 1% 2%;
	}

.hm-sm-profile-img {
	width: 25px;
	height: 25px;
	background-size: contain;
	border-radius: 50%;
	border: 1px solid black;
	}

.hm-message-pos {
	display: flex;
	flex-flow: wrap;
	padding-left: 12vw;
	}

.hm-name-pos {
	display: flex;
	justify-content: flex-start;
	}

.hm-name {
	position: relative;
	font-size: 12px;
	}

.hm-date-pos {
	display: flex;
	justify-content: flex-start;
	}

.hm-date-pos {
	position: relative;
	font-size: 12px;
	}