/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.date-pos {
		font-size: 8px;
		}
	
	.name {
		font-size: 9px;
		}

	.chat-text {
		font-size: 13px;
		}
	
	.main-container {
		width: 92%;
		margin-top: 2vh;
		}
	
	.lg-chat {
		width: 95.5%;
		height: 85%;
		}
	
	.sm-chat {
		height: 5.1vh;
		}
  
  .search {
	  width: 89.5%;
	  top: 95vh;
	  }
  
  .text-box {
	  width: 210px;
	  }
  
	}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.date-pos {
		font-size: 8px;
		}
	
	.name {
		font-size: 9px;
		}

	.chat-text {
		font-size: 13px;
		}
	
	.main-container {
		width: 92%;
		margin-top: 2vh;
		}
	
	.lg-chat {
		width: 95.5%;
		height: 85%;
		}
	
	.sm-chat {
		height: 5.1vh;
		}
	
	.search {
		width: 89.5%;
		top: 95vh;
		}
	
	.text-box {
		width: 210px;
		}
		
	}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}

	.chat-text {
		font-size: 15px;
		}
	
	.main-container {
		width: 92%;
		margin-top: 4vh;
		}
	
	.lg-chat {
		width: 96.5%;
		height: 85%;
		}
	
	.sm-chat {
		height: 5.9vh;
		}
	
	.search {
		width: 89.5%;
		top: 94vh;
		}
	
	.text-box {
		width: 410px;
		}
		
	}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}

	.chat-text {
		font-size: 15px;
		}
	
	.main-container {
		width: 750px;
		margin-top: 4vh;
		}
	
	.lg-chat {
		width: 96.5%;
		height: 85%;
		}
	
	.sm-chat {
		height: 5.8vh;
		}
	
	.search {
		width: 89.5%;
		top: 94vh;
		}
	
	.text-box {
		width: 600px;
		}
		
	}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}

	.chat-text {
		font-size: 15px;
		}
	
	.main-container {
		width: 750px;
		margin-top: 4vh;
		}
	
	.lg-chat {
		height: 84%;
		width: 96.5%;
		}
	
	.sm-chat {
		height: 5.8vh;
		}
	
	.search {
		width: 50vw;
		top: 95vh;
		}
	
	.text-box {
		width: 600px;
		}
		
	}





.disc-bg {
	background: url('../../images/backgrounds/Scenic-Mountain-Widescreen-Background-Wallpapers.jpg') center no-repeat;
	background-size: cover;
	position: fixed;
	top: 57px;
	left:0;
	width: 100%;
	height: 100%;
	opacity: .8;
	}

.chat-title {
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 1vh;
	}

.search {
	position: fixed;
	height: 4vh;
	}

.main-container {
	position: relative;
	height: 87vh;
	background-color: #292C2F;
	padding: 5px;
	border-radius: 5px;
	border: solid black 1px;
	}

.main-container h1 {
	text-align: center;
	}

.text-box {
	margin: 0px auto;
	font-size: 14px;
	}

.chat-btn {
	font-size: 14px;
	}

.chat-text {
	margin: 3px 0;
	color: black;
	word-wrap: break-word;
	}

.lg-chat {
	position: absolute;
	top: 7vh;
	background: rgba(255, 255, 255, 0.86);
	display: flex;
	justify-content: flex-start;
	padding: 1%;
	}

.sm-chat {
	background-color: #F1F1F1;
	padding: 5px;
	width: 100%;
	}

.chat-col {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 98.5%;
	}

.chat-info {
	position: relative;
	float: left;
	width: 40%;
	height: 100%;
	}

.message-box {
	position: relative;
	display: inline-block;
	float: right;
	height: 100%;
	width: 60%;
	}

.name-pos {
	display: flex;
	justify-content: flex-start;
	}

.name {
	position: relative;
	}

.date-pos {
	display: flex;
	justify-content: flex-start;
	}

.date-pos {
	position: relative;
	}