/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.sm-chat {
		height: 5.1vh;
		}
	
	.date-pos {
		font-size: 8px;
		}
	
	.name {
		font-size: 9px;
		}
	
	.sm-profile-img {
		width: 10px;
		height: 10px;
		}
	
	.chat-text {
		font-size: 13px;
		}
	
	.message-box {
		width: 60vw;
		}
	
	.main-container {
		width: 97vw;
		}
	
	.lg-chat {
		width: 90.8vw;
		}
	
	.sm-chat {
		width: 88vw;
		}
	}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.sm-chat {
		height: 5.1vh;
		}
	
	.date-pos {
		font-size: 8px;
		}
	
	.name {
		font-size: 9px;
		}
	
	.sm-profile-img {
		width: 10px;
		height: 10px;
		}
	
	.chat-text {
		font-size: 13px;
		}
	
	.message-box {
		width: 60vw;
		}
	
	.main-container {
		width: 97vw;
		}
	
	.lg-chat {
		width: 90.8vw;
		}
	
	.sm-chat {
		width: 88vw;
		}
	}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.sm-chat {
		height: 5.8vh;
		}
	
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}
	
	.sm-profile-img {
		width: 25px;
		height: 25px;
		}
	
	.chat-text {
		font-size: 15px;
		}
	
	.message-box {
		width: 35vw;
		}
	
	.main-container {
		width: 50vw;
		}
	
	.lg-chat {
		width: 48.8vw;
		}
	
	.sm-chat {
		width: 48.5vw;
		}

	}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sm-chat {
		height: 5.8vh;
		}
	
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}
	
	.sm-profile-img {
		width: 25px;
		height: 25px;
		}
	
	.chat-text {
		font-size: 15px;
		}
	
	.message-box {
		width: 35vw;
		}
	
	.main-container {
		width: 50vw;
		}
	
	.lg-chat {
		width: 48.8vw;
		}
	
	.sm-chat {
		width: 48.5vw;
		}

	}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.sm-chat {
		height: 5.8vh;
		}
	
	.date-pos {
		font-size: 12px;
		}
	
	.name {
		font-size: 12px;
		}
	
	.sm-profile-img {
		width: 25px;
		height: 25px;
		}
	
	.chat-text {
		font-size: 15px;
		}
	
	.message-box {
		width: 35vw;
		}
	
	.main-container {
		width: 50vw;
		}
	
	.lg-chat {
		width: 48.8vw;
		}
	
	.sm-chat {
		width: 48.5vw;
		}

	}





.disc-bg {
	background: url('../../images/backgrounds/Scenic-Mountain-Widescreen-Background-Wallpapers.jpg') center no-repeat;
	background-size: cover;
	position: fixed;
	top: 8vh;
	left:0;
	width: 100%;
	height: 100%;
	opacity: .8;
	}

.chat-title {
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 1vh;
	}

.search {
	position: fixed;
	width: 50vw;
	height: 4vh;
	top: 94vh;
	padding: 5px;
	}

.main-container {
	position: relative;
	margin-top: 2vh;
	height: 87vh;
	background-color: #292C2F;
	padding: 5px;
	border-radius: 5px;
	border: solid black 1px;
	}

.main-container h1 {
	text-align: center;
	}

.text-box {
	margin: 0px auto;
	width: 45vw;
	font-size: 14px;
	}

.chat-btn {
	font-size: 14px;
	}

.chat-text {
	margin: 3px 0;
	color: black;
	word-wrap: break-word;
	}

.lg-chat {
	position: absolute;
	top: 7vh;
	height: 74vh;
	background: rgba(255, 255, 255, 0.86);
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	}

.sm-chat {
	background-color: #F1F1F1;
	padding: 5px;
	}

.chat-col {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	}

.chat-info {
	position: relative;
	float: left;
	width: 13vw;
	height: 100%;
	}

.message-box {
	position: relative;
	display: inline-block;
	float: right;
	height: 100%;
	}

.sm-profile-img {
	background-size: contain;
	border-radius: 50%;
	border: 1px solid black;
	}

.name-pos {
	display: flex;
	justify-content: flex-start;
	}

.name {
	position: relative;
	}

.date-pos {
	display: flex;
	justify-content: flex-start;
	}

.date-pos {
	position: relative;
	}