<section class="disc-bg">
	<div class="flex-column">
		<div class="main-container">
			<div class="chat-title"> DevMountain Chat Room </div>
			<div class="lg-chat">
				<div class="chat-col">
				<div class="chat-text" ng-repeat="message in messages | orderBy: 'time_stamp'">
					<div class="sm-chat">
						<div class="chat-info">
							<div class="name-pos">
								<div class="name">{{message.user_name}}</div>
							</div>
							<div class="date-pos">
								<div class="date">{{message.time_stamp | date:"MM/dd/yyyy 'at' h:mma"}}</div>
							</div>
						</div>
						<div class="message-box">
							<div class="message">{{message.message}}</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<form class="search">
				<input class="form-control text-box" type="text" ng-model="msg" placeholder="Enter text here...">
				<button class="chat-btn" ng-click="postMessage(msg)"> Submit </button>
			</form>
		</div>
	</div>
</section>





<!--<img class="profile-img" ng-src="{{user.profileimg}}" alt="Description" />-->